Repository sqill/website-lite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

Add form submit function
  .gitignore
  netlify.toml
  netlify/functions/form-submit.js
  netlify/package.json
  netlify/yarn.lock
  package.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

update pages and styles
  src/components/pages/sqill-for-business.styles.js
  src/pages/sqill-for-business.js
  src/theme/colors.js
  src/theme/global.js
  src/translations/pt/sqillForBusiness.json
Due: prettier --write, eslint --fix, stylelint

update pages and styles
  public/images/4biz/4biz_1.png
  public/images/4biz/4biz_2.png
  public/images/4biz/4biz_3.png
  public/images/4biz/4biz_4.png
  public/images/4biz/4biz_hero.png
  public/images/4biz/icon_create.png
  public/images/4biz/icon_edit.png
  public/images/4biz/icon_euro.png
  public/images/home/hero1.png
  public/images/home/hero2.png
  public/images/home/hero3.png
  public/images/home/hero4.png
  public/images/home/home_1.png
  public/images/home/home_2.png
  public/images/home/home_3.png
  public/images/home/home_4.png
  public/images/home/home_5.png
  public/images/home/home_bg_1.png
  public/images/home/home_phone_1.png
  public/images/home/home_phone_2.png
  public/images/home/shadow_1.png
  src/components/pages/home.styles.js
  src/components/pages/sqill-for-business.styles.js
  src/pages/index.js
  src/pages/sqill-for-business.js
  src/theme/colors.js
  src/theme/global.js
  src/theme/typography.js
  src/translations/en/home.json
  src/translations/pt/home.json
  src/translations/pt/sqillForBusiness.json
Due: prettier --write, eslint --fix, stylelint

content revision 1
  src/components/footer/Footer.styles.js
  src/components/layout/Layout.js
  src/components/layout/Layout.styles.js
  src/components/menu/Menu.styles.js
  src/components/pages/about.styles.js
  src/components/pages/faqs.styles.js
  src/components/pages/home.styles.js
  src/components/pages/privacy-policy.styles.js
  src/components/pages/sqill-for-business.styles.js
  src/components/pages/terms-and-conditions.styles.js
  src/pages/index.js
  src/pages/sqill-for-business.js
  src/theme/colors.js
  src/translations/en/home.json
  src/translations/en/sqillForBusiness.json
  src/translations/pt/about.json
  src/translations/pt/home.json
  src/translations/pt/sqillForBusiness.json
Due: prettier --write, eslint --fix, stylelint

update terms and conditions, privacy policy
  src/components/pages/privacy-policy.styles.js
  src/pages/privacy-policy.js
  src/pages/terms-and-conditions.js
  src/translations/en/privacyPolicy.json
  src/translations/en/termsAndConditions.json
  src/translations/pt/privacyPolicy.json
  src/translations/pt/termsAndConditions.json
Due: prettier --write, eslint --fix, stylelint

add athlete page
  src/components/pages/sqill-for-pros.styles.js
  src/pages/athlete.js
  src/translations/en/athlete.json
  src/translations/pt/athlete.json
  src/utils/routes.js
Due: prettier --write, eslint --fix, stylelint

add ticks and floating ctas
  src/components/floating-cta/FloatingCTA.js
  src/components/floating-cta/FloatingCTA.styles.js
  src/components/floating-cta/index.js
  src/components/pages/home.styles.js
  src/pages/index.js
  src/theme/colors.js
  src/theme/typography.js
  src/translations/en/floatingCTA.json
  src/translations/en/home.json
  src/translations/pt/floatingCTA.json
  src/translations/pt/home.json
Due: prettier --write, eslint --fix, stylelint

add shadows to titles
  src/components/pages/sqill-for-business.styles.js
  src/components/pages/sqill-for-pros.styles.js
Due: eslint --fix, stylelint

add trackers scripts
  src/components/layout/Layout.js
Due: eslint --fix, stylelint

add contact forms
  src/components/form/Form.js
  src/components/form/Form.styles.js
  src/components/form/index.js
  src/components/pages/contacts.styles.js
  src/pages/contacts.js
  src/pages/sqill-for-business.js
  src/pages/sqill-for-pros.js
Due: eslint --fix, stylelint

Identify people
  src/components/form/Form.js
Due: eslint --fix, stylelint

add form feedback
  src/components/form/Form.js
  src/components/form/Form.styles.js
  src/components/pages/sqill-for-business.styles.js
  src/pages/contacts.js
  src/pages/sqill-for-business.js
  src/pages/sqill-for-pros.js
  src/translations/en/contacts.json
  src/translations/en/sqillForBusiness.json
  src/translations/en/sqillForPros.json
  src/translations/pt/contacts.json
  src/translations/pt/sqillForBusiness.json
  src/translations/pt/sqillForPros.json
  src/utils/constants.js
  src/utils/routes.js
Due: prettier --write, eslint --fix, stylelint

add facebook and linkedin links
  src/utils/constants.js
Due: eslint --fix, stylelint

Set default locale to en
  next-i18next.config.js
Due: eslint --fix, stylelint

Remove unused libs
  netlify/package.json
  netlify/yarn.lock
  package.json
  yarn.lock
Due: prettier --write

fix: Improve site based on feedback
  src/components/button/Button.js
  src/components/button/Button.styles.js
  src/components/button/index.js
  src/components/form/Form.js
  src/components/form/Form.styles.js
  src/components/modal/Modal.js
  src/components/modal/Modal.styles.js
  src/components/modal/index.js
  src/components/pages/contacts.styles.js
  src/components/pages/home.styles.js
  src/components/pages/sqill-for-business.styles.js
  src/pages/athlete.js
  src/pages/index.js
  src/pages/sqill-for-business.js
  src/pages/sqill-for-pros.js
  src/theme/colors.js
  src/translations/en/athlete.json
  src/translations/en/contacts.json
  src/translations/en/sqillForBusiness.json
  src/translations/en/sqillForPros.json
  src/translations/pt/athlete.json
  src/translations/pt/contacts.json
  src/translations/pt/menu.json
  src/translations/pt/sqillForBusiness.json
  src/translations/pt/sqillForPros.json
  src/utils/routes.js
Due: prettier --write, eslint --fix, stylelint

fix: Improve site based on feedback (#1)
  src/components/button/Button.js
  src/components/button/Button.styles.js
  src/components/button/index.js
  src/components/form/Form.js
  src/components/form/Form.styles.js
  src/components/modal/Modal.js
  src/components/modal/Modal.styles.js
  src/components/modal/index.js
  src/components/pages/contacts.styles.js
  src/components/pages/home.styles.js
  src/components/pages/sqill-for-business.styles.js
  src/pages/athlete.js
  src/pages/index.js
  src/pages/sqill-for-business.js
  src/pages/sqill-for-pros.js
  src/theme/colors.js
  src/translations/en/athlete.json
  src/translations/en/contacts.json
  src/translations/en/sqillForBusiness.json
  src/translations/en/sqillForPros.json
  src/translations/pt/athlete.json
  src/translations/pt/contacts.json
  src/translations/pt/menu.json
  src/translations/pt/sqillForBusiness.json
  src/translations/pt/sqillForPros.json
  src/utils/routes.js
Due: prettier --write, eslint --fix, stylelint

Add chatwoot
  src/components/layout/Layout.js
  src/utils/gtag.js
Due: eslint --fix, stylelint

fix: Improve site based on feedback
  public/images/sports/basketball.png
  public/images/sports/football.png
  public/images/sports/rugby.png
  public/images/sports/tennis.png
  public/images/sports/volleyball.png
  src/components/pages/home.styles.js
  src/pages/index.js
  src/translations/en/home.json
  src/translations/pt/home.json
Due: prettier --write, eslint --fix, stylelint

fix: Improve site based on feedback (#2)
  public/images/sports/basketball.png
  public/images/sports/football.png
  public/images/sports/rugby.png
  public/images/sports/tennis.png
  public/images/sports/volleyball.png
  src/components/pages/home.styles.js
  src/pages/index.js
  src/translations/en/home.json
  src/translations/pt/home.json
Due: prettier --write, eslint --fix, stylelint

Prevent multiple form submissions
  src/components/form/Form.js
Due: eslint --fix, stylelint

Update Form.js
  src/components/form/Form.js
Due: eslint --fix, stylelint

fix: Improve site based on feedback
  public/images/4biz/4biz_hero.png
  public/images/4biz/image_go.png
  public/images/4biz/image_ready.png
  public/images/4biz/image_set.png
  public/images/4biz/image_step1.png
  public/images/4biz/image_step2.png
  public/images/4biz/image_step3.png
  public/images/4biz/image_step4.png
  public/images/4biz/partner_fcp.png
  public/images/4biz/partner_sonae.png
  src/components/menu/Menu.js
  src/components/pages/home.styles.js
  src/pages/index.js
  src/theme/colors.js
  src/theme/typography.js
  src/translations/en/home.json
  src/translations/pt/home.json
Due: prettier --write, eslint --fix, stylelint

fix: Improve site based on feedback (#4)
  public/images/4biz/4biz_hero.png
  public/images/4biz/image_go.png
  public/images/4biz/image_ready.png
  public/images/4biz/image_set.png
  public/images/4biz/image_step1.png
  public/images/4biz/image_step2.png
  public/images/4biz/image_step3.png
  public/images/4biz/image_step4.png
  public/images/4biz/partner_fcp.png
  public/images/4biz/partner_sonae.png
  src/components/menu/Menu.js
  src/components/pages/home.styles.js
  src/pages/index.js
  src/theme/colors.js
  src/theme/typography.js
  src/translations/en/home.json
  src/translations/pt/home.json
Due: prettier --write, eslint --fix, stylelint

Prevent multiple form submissions (#5)
  src/components/form/Form.js
Due: eslint --fix, stylelint

Update gtag.js
  src/utils/gtag.js
Due: eslint --fix, stylelint

fix: Add 'sending' status to form button
  src/components/form/Form.js
  src/pages/_sqill-for-pros.js
  src/pages/contacts.js
  src/pages/index.js
  src/translations/en/contacts.json
  src/translations/en/home.json
  src/translations/en/sqillForPros.json
  src/translations/pt/contacts.json
  src/translations/pt/home.json
  src/translations/pt/sqillForPros.json
Due: prettier --write, eslint --fix, stylelint

fix: Add 'sending' status to form button (#6)
  src/components/form/Form.js
  src/pages/_sqill-for-pros.js
  src/pages/contacts.js
  src/pages/index.js
  src/translations/en/contacts.json
  src/translations/en/home.json
  src/translations/en/sqillForPros.json
  src/translations/pt/contacts.json
  src/translations/pt/home.json
  src/translations/pt/sqillForPros.json
Due: prettier --write, eslint --fix, stylelint

fix: Improve form submission messages
  src/components/form/Form.js
  src/utils/gtag.js
Due: eslint --fix, stylelint

Change OpenGraph tags
  public/images/og.png
  src/translations/en/home.json
  src/translations/en/sqillForAthletes.json
  src/translations/pt/home.json
  src/translations/pt/sqillForAthletes.json
  src/utils/openGraphTags.js
Due: prettier --write, eslint --fix, stylelint

Path conditions:
  prettier --write: any of: *.{json,md}
  eslint --fix: any of: *.js
  stylelint: any of: *.js
